.App-header {
  width: 100%;
}
.App-header .container {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 0px) {
  .App-header {
    position: fixed;
    background-color: var(--foreground);
    border-bottom: 1px solid var(--border-color);
  }
  .nav-compact {
    display: flex;
  }
  .nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .App-header {
    position: relative;
    background-color: var(--background);
    border-bottom: none;
  }
  .App-header .language-switcher {
    display: none;
  }
  .App-header .contact-btn {
    display: none;
  }
  .nav-compact {
    display: none;
  }
  .nav {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .App-header {
    position: fixed;
    border-bottom: 1px solid var(--border-color);
  }
  .App-header .language-switcher {
    display: block;
  }
  .App-header .App-header .contact-btn {
    display: block;
  }
  .nav {
    margin-right: auto;
  }
}
