.App-header {
  width: 100%;
  position: fixed;
  background-color: var(--black);
  z-index: 999;
}
.App-header .container {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 0px) {
  .nav {
    display: none;
  }
  .nav-compact {
    display: flex;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .nav {
    display: flex;
  }
  .nav-compact {
    display: none;
  }
}
