.features .card-contents {
  background-color: var(--foreground);
  gap: 24px;
}

@media (min-width: 0px) {
  .features .card-contents {
    flex-direction: row;
    justify-content: space-between;
  }
  .features-icon {
    order: 2;
  }
  .features-desc {
    order: 1;
  }
}

@media (min-width: 992px) {
  .features .card-contents {
    flex-direction: column;
  }
  .features-icon {
    order: 1;
  }
  .features-desc {
    order: 2;
  }
}
