.hero-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero-headline-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-headline-banner a {
  margin-top: 36px;
}
.hero-headline-banner span {
  color: var(--primary);
}
.hero-headline-tag {
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  margin-bottom: 16px;
  letter-spacing: -0.035rem;
  line-height: 180%;
  border-radius: var(--border-radius);
}

.hero-usecase {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0.6;
}
