.App-footer {
  background-color: var(--foreground);
  padding-top: 72px;
  padding-bottom: 24px;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-company * {
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}
.footer-company td {
  padding: 8px;
}

.footer-company-logo {
  text-align: left;
  height: 36px;
}

.footer-company-social {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.footer-sitemap {
  display: flex;
  gap: 16px;
}
.footer-sitemap-sub {
  display: flex;
}
.footer-sitemap-sub * {
  margin-top: 8px;
  color: var(--text-secondary);
}

.footer-copyright {
  width: 100%;
  color: var(--text-primary);
  text-align: center;
}

@media (min-width: 0px) {
  .footer-company {
    width: 50%;
  }
  .footer-sitemap {
    flex-direction: column;
  }
  .footer-sitemap-sub {
    flex-direction: row;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .footer-company {
    width: 40%;
  }
  .footer-sitemap {
    flex-direction: row;
  }
  .footer-sitemap-sub {
    flex-direction: column;
  }
}
