.achivements-content {
  display: flex;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 24px;
  border-bottom: 1px solid var(--border-color);
}
.achivements-content * {
  margin-bottom: 0;
  line-height: 24px;
}

.achivements-content:last-child {
  border-bottom: none;
}

.achivements-year-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.achivements-year-content {
  display: flex;
  gap: 16px;
}
.achivements-year-content-category {
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}

.proofs-contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.proofs-content {
  background-color: var(--foreground);
  border-radius: var(--border-radius);
  padding: 36px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.proofs-content * {
  margin: 0;
}
