.App-content {
  width: 100%;
  padding-bottom: 100px;
}

.App-content .container {
  padding-top: 100px;
  flex-direction: column;
}
.App-content .container .foreground {
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: var(--foreground);
}

.inner-container {
  display: flex;
  align-items: center;
}

/* CARD */

.card-container {
  margin: -12px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  width: 100%;
}
.card-contents {
  display: flex;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 36px;
  margin: 12px;
}
.card-contents * {
  margin: 0;
}

/* THUMBNAIL */

.thumb-container {
  margin-left: auto;
  margin-right: auto;
}
.thumb-container img {
  width: 100%;
  overflow-x: hidden;
}

/* MEDIA QUERY */

@media (min-width: 0px) {
  .inner-container-contents {
    width: 100%;
  }

  .thumb-container {
    display: none;
  }
}

@media (min-width: 576px) {
  .md-3 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .md-3 {
    width: 33.333333%;
  }
  .md-4 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.333333%;
  }

  .inner-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .inner-container-contents {
    width: 60%;
  }
  .thumb-container {
    display: flex;
    width: 40%;
  }

  .card-container {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .inner-container-contents {
    width: 50%;
  }
  .thumb-container {
    width: 50%;
  }
}
