.usecases .card-contents {
  border: 1px solid var(--border-color);
  flex-direction: column;
}

.usecases-logo {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
.usecases-logo img {
  height: 100%;
}

.usecases-action button {
  padding: 0;
}

@media (min-width: 0px) {
  .usecases-logo .learn-btn {
    display: flex;
    margin-left: auto;
  }
  .usecases-desc {
    margin-top: 24px;
  }
  .usecases-action .learn-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .usecases .card-contents {
    justify-content: space-between;
  }
  .usecases-desc {
    margin-bottom: 24px;
  }
  .usecases-logo .learn-btn {
    display: none;
  }
  .usecases-action .learn-btn {
    display: block;
  }
}
